.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.register {
  text-align: center;
}

button:hover {
  background: var(--button-hover-color);
}
button:active span {
  background-color: rgba(0, 0, 0, 0.2);
}
button span:focus {
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}
a {
  text-decoration: none;
  color: "#3846FE";
}


:root {
  --main-color: #55abee;
  --button-hover-color: #228dcf;
}

@import "./styles/login.css";


textarea {
  color: rgb(38, 50, 56);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  border: 2px solid lightgray;

  padding: 10px 20px;

  border-radius: 5px;
  /* outline: none; */
  box-sizing: border-box;
  margin-bottom: 27px;
}

textarea:focus { 
  outline: none;
  border-color: var(--main-color);
  box-shadow: 0 0 3px var(--main-color)
}